<div class="logo">
    <a href="{% url 'index' %}" class="simple-text logo-normal">
      Soin Veterinary
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
      <li class="active ">
        <a href="{% url 'farmer-portal' %}">
          <i class="now-ui-icons design"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="now-ui-icons location">MY RECORDS</i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'calf-registration' %}">Calf Registration Form</a>
            <a class="dropdown-item" href="{% url 'livestock-inventory' %}">Livestock Inventory Form</a>
          </div>
        </li>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="now-ui-icons location">VET. RECORDS</i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'sickformpdf' %}">SickApproachFormPDF</a>
          <a class="dropdown-item" href="{% url 'deadformpdf' %}">DeadApproachFormPDF</a>
          <a class="dropdown-item" href="{% url 'surgicalformpdf' %}">SurgicalApproachFormPDF</a>
          <a class="dropdown-item" href="{% url 'dewormingformpdf' %}">DewormingFormPDF</a>
          <a class="dropdown-item" href="{% url 'vaccinationformpdf' %}">VaccinationFormPDF</a>
          <a class="dropdown-item" href="{% url 'artificialformpdf' %}">ArtificialInseminationPDF</a>
          <a class="dropdown-item" href="{% url 'consultationformpdf' %}">FarmConsultationPDF</a>
          <a class="dropdown-item" href="{% url 'pregnancyformpdf' %}">PregnancyDiagnosisPDF</a>
          <a class="dropdown-item" href="{% url 'calfregformpdf' %}">CalfRegistrationFormPDF</a>
          <a class="dropdown-item" href="{% url 'inventoryformpdf' %}">LivestockInventoryFormPDF</a>
        </div>
      </li>
      <li>
        <a href="#">Farm Visit Request</a>
      </li>
      <li>
        <a href="#">My gallery</a>
      </li>
    </ul>
  </div>