<div class="logo">
    <a href="{% url 'index' %}" class="simple-text logo-normal">
      Soin Veterinary
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
      <li class="active ">
        <a href="{% url 'vet-portal' %}">
          <i class="now-ui-icons design_app"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="{% url 'sick-approach' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>SickApproachForm</p>
        </a>
      </li>
      <li>
        <a href="{% url 'dead-approach' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>DeadApproachForm</p>
        </a>
      </li>
      <li>
        <a href="{% url 'surgical-approach' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>SurgicalApproachForm</p>
        </a>
      </li>
      <li>
        <a href="{% url 'deworming' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>DewormingForm</p>
        </a>
      </li>
      <li>
        <a href="{% url 'vaccination' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>vaccination_form</p>
        </a>
      </li>
      <li>
        <a href="{% url 'artificial-insemination' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>ArtificialInseminationForm</p>
        </a>
      </li>
      <li>
        <a href="{% url 'consultation' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>FarmConsultationForm</p>
        </a>
      </li>
      <li>
        <a href="{% url 'pregnancy_diagnosis' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>PregnancyDiagnosisForm</p>
        </a>
      </li>
      <li>
      </li>
    </ul>
  </div>