<div class="logo">
    <a href="{% url 'index' %}" class="simple-text logo-normal">
      Soin Veterinary
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
      <li class="active ">
        <a href="./dashboard.html">
          <i class="now-ui-icons design_app"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="{% url 'calf-registration' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>Calf Registration Form</p>
        </a>
      </li>
      <li>
        <a href="{% url 'livestock-inventory' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>Livestock Inventory Form</p>
        </a>
      </li>
      <li>
        <a href="{% url 'sickformpdf' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>SickApproachFormPDF</p>
        </a> 
      </li>
      <li>
        <a href="{% url 'deadformpdf' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>DeadApproachFormPDF</p>
        </a>
      </li>
      <li>
        <a href="{% url 'surgicalformpdf' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>SurgicalApproachFormPDF</p>
        </a>
      </li>
      <li>
        <a href="{% url 'dewormingformpdf' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>DewormingFormPDF</p>
        </a>
      </li>
       <li>
        <a href="{% url 'vaccinationformpdf' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>VaccinationFormPDF</p>
        </a>
      </li>
      <li>
        <a href="{% url 'artificialformpdf' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>ArtificialInseminationPDF</p>
        </a>
      </li>
      <li>
        <a href="{% url 'consultationformpdf' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>FarmConsultationPDF</p>
        </a>
      </li>
      <li>
        <a href="{% url 'pregnancyformpdf' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>PregnancyDiagnosisPDF</p>
        </a>
      </li>
      <li>
        <a href="{% url 'calfregformpdf' %}">
          <i class="now-ui-icons location_map-big"></i>
          <p>CalfRegistrationFormPDF</p>
        </a>
      </li>
    </ul>
  </div>