<div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li class="active has-sub">
                <a class="js-arrow" href="#">
                    <i class="fas fa-tachometer-alt"></i>Dashboard</a> 
            </li>
            <li>
                <a href="{% url 'calf-registration' %}">
                    <i class="far fa-check-square"></i>Calf Registration Form</a> 
            </li>
            <li>
                <a href="{% url 'livestock-inventory' %}">
                    <i class="far fa-check-square"></i>Livestock Inventory Form</a>
            </li>
            <li>
                <a href="{% url 'sickformpdf' %}">
                    <i class="far fa-check-square"></i>SickApproachFormPDF</a>
            </li>
            <li>
                <a href="{% url 'deadformpdf' %}">
                    <i class="far fa-check-square"></i>DeadApproachFormPDF</a>
            </li>
            <li>
                <a href="{% url 'surgicalformpdf' %}">
                    <i class="far fa-check-square"></i>SurgicalApproachFormPDF</a>
            </li>
            <li>
                <a href="{% url 'dewormingformpdf' %}">
                    <i class="far fa-check-square"></i>DewormingFormPDF</a>
            </li>
            <li>
                <a href="{% url 'vaccinationformpdf' %}">
                    <i class="far fa-check-square"></i>VaccinationFormPDF</a> 
            </li>
            <li>
                <a href="{% url 'artificialformpdf' %}">
                    <i class="far fa-check-square"></i>ArtificialInseminationPDF</a>
            </li>
            <li>
                <a href="{% url 'consultationformpdf' %}">
                    <i class="far fa-check-square"></i>FarmConsultationPDF</a>
            </li>
            <li>
                <a href="{% url 'pregnancyformpdf' %}">
                    <i class="far fa-check-square"></i>PregnancyDiagnosisPDF</a>
            </li>
            <li>
                <a href="{% url 'calfregformpdf' %}">
                    <i class="far fa-check-square"></i>CalfRegistrationFormPDF</a>
            </li>
        </ul>
    </nav>
</div>