<div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li class="active has-sub">
                <a class="js-arrow" href="#">
                    <i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </li>
            <li>
                <a href="{% url 'sick-approach' %}">
                    <i class="far fa-check-square"></i>SickApproachForm</a>
            </li>
            <li>
                <a href="{% url 'dead-approach' %}">
                    <i class="far fa-check-square"></i>DeadApproachForm</a>
            </li>
            <li>
                <a href="{% url 'surgical-approach' %}">
                    <i class="far fa-check-square"></i>SurgicalApproachForm</a>
            </li>
            <li>
                <a href="{% url 'deworming' %}">
                    <i class="far fa-check-square"></i>DewormingForm</a>
            </li>
            <li>
                <a href="{% url 'vaccination' %}">
                    <i class="far fa-check-square"></i>vaccination_form</a>
            </li>
            <li>
                <a href="{% url 'artificial-insemination' %}">
                    <i class="far fa-check-square"></i>ArtificialInseminationForm</a>
            </li>
            <li>
                <a href="{% url 'consultation' %}">
                    <i class="far fa-check-square"></i>FarmConsultationForm</a>
            </li>
            <li>
                <a href="{% url 'pregnancy_diagnosis' %}">
                    <i class="far fa-check-square"></i>PregnancyDiagnosisForm</a>
            </li>
        </ul>
    </nav>
</div>