<div class="logo">
    <a href="{% url 'index' %}" class="simple-text logo-normal">
      Soin Veterinary
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
      <li class="active ">
        <a href="{% url 'vet-portal' %}">
          <i class="now-ui-icons design"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="now-ui-icons records">MY RECORDS</i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'sick-approach' %}">SickApproachForm</a>
          <a class="dropdown-item" href="{% url 'dead-approach' %}">DeadApproachForm</a>
          <a class="dropdown-item" href="{% url 'surgical-approach' %}">SurgicalApproachForm</a>
          <a class="dropdown-item" href="{% url 'deworming' %}">DewormingForm</a>
          <a class="dropdown-item" href="{% url 'vaccination' %}">vaccination_form</a>
          <a class="dropdown-item" href="{% url 'artificial-insemination' %}">ArtificialInseminationForm</a>
          <a class="dropdown-item" href="{% url 'consultation' %}">FarmConsultationForm</a>
          <a class="dropdown-item" href="{% url 'pregnancy_diagnosis' %}">PregnancyDiagnosisForm</a>
        </div>
      </li>
      <li>
        <a href="#">Farm Appointments</a>
      </li>
      <li>
        <a href="#">Gallery section </a>
      </li>
      <li>
        <a href="#">Learning resources</a>
      </li>
    </ul>
  </div>